@font-face {
	font-family:"KapraNeueProMediumCondensed";
	font-style:normal;
	font-weight:bold;
	font-stretch:condensed;
	src: url("../Fonts/KapraNeueProMediumCondensed.otf");
}
@font-face {
	font-family:"AlternateGothic-No1";
	font-style:normal;
	font-weight:bold;
	src: url("../Fonts/AlternateGothic-No1.otf");
}
@font-face {
	font-family:"cour";
	font-style:normal;
	font-weight:normal;
	src: url("../Fonts/cour.ttf");
}
@font-face {
	font-family:"courbd";
	font-style:normal;
	font-weight:bold;
	font-stretch:condensed;
	src: url("../Fonts/courbd.ttf");
}
body
{
	line-height: 1.4;
	margin-left: 4%;
	margin-right: 4%;
	font-family: "Times New Roman", serif;
}
img
{ 
	max-width: 100%;
	vertical-align:middle;
}
sup
{
    line-height: 80%;
    font-size: 80%;
}
a
{
 text-decoration:none;
}
small
{
	font-size: 80%;
}
.bold
{
 font-weight:bold;
}
.boldf1
{
 font-family:"courbd";
 font-weight:bold;
}
.italic
{
 font-style:italic;
}
.bolditalic
{
 font-weight:bold;
 font-style:italic;
}
div.pagebreaka
{
 page-break-inside: avoid;
 padding-top:0.3em;
}
.underline
{
 text-decoration:underline;
}
.line
{
 border-bottom: solid 2px;
}
.fmh1
{
 font-family:"KapraNeueProMediumCondensed";
 font-size: 140%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 3.5em;
 text-align: center;
 text-indent: 0em;
 font-weight: bold;
}
.fmh2
{
 font-family:"KapraNeueProMediumCondensed";
 font-size: 140%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0.5em;
 text-align: center;
 text-indent: 0em;
 font-weight: bold;
}
.fmparaT
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 1em;
 text-align: justify;
 text-indent: 0em;
}
.fmparaT1
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 13em;
 text-align: justify;
 text-indent: 0em;
}
.fmparaR
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: right;
 text-indent: 0em;
}
.fmparaCT
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 6em;
 text-align: center;
 text-indent: 0em;
}
.fmparaCT1
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 1em;
 text-align: center;
 text-indent: 0em;
}
.fmparaC
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: center;
 text-indent: 0em;
}
.starimage
{
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 1.5em;
 text-align: center;
 text-indent: 0em;
}
.centerImage
{
 margin-bottom: 0.2em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0.2em;
 text-align: center;
 text-indent: 0em;
}
.cpytxth
{
 font-family:"Times New Roman", serif;
 font-size: 90%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 13em;
 text-align: left;
 text-indent: 0em;
}
.cpytxt
{
 font-family:"Times New Roman", serif;
 font-size: 90%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 1em;
 text-align: left;
 text-indent: 0em;
}
.cpytxt1
{
 font-family:"Times New Roman", serif;
 font-size: 90%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: left;
 text-indent: 0em;
}
.TocH
{
 font-family:"AlternateGothic-No1";
 font-size: 270%;
 margin-bottom: 1.5em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 3.5em;
 text-align: center;
 text-indent: 0em;
 font-weight: bold;
}
.toc
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0.5em;
 text-align: left;
 text-indent: 0em;
}
.toc1
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 1.5em;
 text-align: left;
 text-indent: 0em;
}
.CT1
{
 font-family:"AlternateGothic-No1";
 font-size: 270%;
 margin-bottom: 1.5em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 3.5em;
 text-align: center;
 text-indent: 0em;
 font-weight: bold;
}
.CN
{
 font-family:"AlternateGothic-No1";
 font-size: 180%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 3.5em;
 text-align: center;
 text-indent: 0em;
 font-weight: bold;
}
.CT
{
 font-family:"AlternateGothic-No1";
 font-size: 270%;
 margin-bottom: 1.5em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: center;
 text-indent: 0em;
 font-weight: bold;
}
.paraNoIndent
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 1em;
 text-align: justify;
 text-indent: 0em;
}
.paraNoIndentT
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 1.5em;
 text-align: justify;
 text-indent: 0em;
}
.paraIndent
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: justify;
 text-indent: 1em;
}
.paraIndentF
{
 font-family:"cour";
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: justify;
 text-indent: 1em;
}
.paraIndentT
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 1em;
 text-align: justify;
 text-indent: 1em;
}
.paraRight
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: right;
 text-indent: 0em;
}
.paraNoIndentE
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 1.5em;
 margin-right: 1.5em;
 margin-top: 1em;
 text-align: justify;
 text-indent: 0em;
}
.paraIndentE
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 1.5em;
 margin-right: 1.5em;
 margin-top: 0em;
 text-align: justify;
 text-indent: 1em;
}
.EPI
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 1em;
 margin-right: 0em;
 margin-top: 1em;
 text-align: justify;
 text-indent: 0em;
}
.EPI_A
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 2em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: right;
 text-indent: 0em;
}
ul.ul
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 1em;
 text-align: left;
 text-indent: 0em;
}
ol.ol
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 1em;
 text-align: left;
 text-indent: 0em;
}
li.li
{
 font-family:"Times New Roman", serif;
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0.3em;
 text-align: left;
 text-indent: 0em;
}
.paraQF
{
 font-family:"cour";
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 2em;
 margin-right: 0em;
 margin-top: 1em;
 text-align: left;
 text-indent: 0em;
}
.paraAF
{
 font-family:"cour";
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 2em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: left;
 text-indent: 0em;
}
.paraC
{
 font-family:"cour";
 font-size: 100%;
 margin-bottom: 0em;
 margin-left: 2em;
 margin-right: 0em;
 margin-top: 1em;
 text-align: left;
 text-indent: 0em;
}
.cap
{
 font-family:"Times New Roman", serif;
 font-size: 90%;
 margin-bottom: 1em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: left;
 text-indent: 0em;
}
.cap1
{
 font-family:"Times New Roman", serif;
 font-size: 90%;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 margin-top: 0em;
 text-align: left;
 text-indent: 0em;
}
